#bloc_gris_footer {
  background-color: #f2f2f2;
  height: auto;
}

#pied_de_page {
  display: flex;
  flex-direction: row;
  margin: 5em;
  padding-top: 1em;
}

.blocs_footer {
  display: flex;
  flex-direction: column;
  margin-right: 3em;
}

.liens_bot {
  text-decoration: none;
  color: black;
}

#bloc2_bot,
#bloc3_bot {
  margin-left: 8em;
}

@media screen and (max-width: 768px) {
  #bloc_gris_footer {
    background-color: #f2f2f2;
    height: auto;
  }

  #pied_de_page {
    display: flex;
    flex-direction: column;
    /*background-color: #f2f2f2;*/
  }

  #bloc2_bot,
  #bloc3_bot {
    margin-left: 0;
  }

  #pied_de_page {
    margin: 2em;
  }
}
