#section1 {
  border: solid 3px green;
  display: flex;
  flex-direction: row-reverse;
}

#align_h2_icone {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#bloc_gris_lpp {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 0 0 0 0.5em;
}

#groupe_photos_lpp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloc_photo_lpp {
  display: flex;
  width: 90%;
  height: 8em;
  border-radius: 20px;
  margin: 1%;
  overflow: hidden;
  border: white solid 4px;
  background-color: white;
}

.bloc_photo_lpp:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.photos_lpp {
  width: 35%;
  object-fit: cover;
}

.groupe_photos_heb {
  display: flex;
  align-items: center;
}

#bloc_gris_heb {
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 5%;
  margin: 0 0.5em 0 0;
}

.bloc_photo_heb {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 10em;
  border: solid black 2px;
  border-radius: 20px;
  margin: 1%;
  overflow: hidden;
  border: white solid 4px;
  background-color: white;
  text-decoration: none;
}

.photos_heb {
  height: 60%;
  object-fit: cover;
}

.bloc_photo_heb:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.icone_star_blue {
  color: #0065fc;
}

.icone_star_grey {
  color: #f2f2f2;
}

@media screen and (max-width: 480px) {
  body {
    width: auto;
  }

  #section1 {
    display: flex;
    flex-direction: column;
  }

  #bloc_gris_lpp {
    width: 100%;
    margin: 0;
  }

  .bloc_photo_lpp {
    width: 90%;
  }

  #bloc_gris_heb {
    width: 100%;
    background-color: white;
    margin: 0;
  }

  .groupe_photos_heb {
    display: flex;
    flex-direction: column;
  }

  .bloc_photo_heb {
    width: 100%;
  }
}

/*
.container {
  max-width: 1024px;
  margin: 0 auto;
}

#section1 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

#bloc_gris_lpp {
  border: 1px solid #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  margin: 15px;
  padding: 15px 25px;
  height: 40em;
  width: 85%;
}

#bloc_gris_heb {
  border: 1px solid #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  background-color: #f2f2f2;
  margin: 15px;
  padding: 15px 25px;
  height: 40em;
  width: 100%;
}

#align_h2_icone {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.bloc_photo_heb {
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  box-shadow: 1px 1px 12px rgba(194, 194, 194, 0.397);
  width: 295px;
  height: 205px;
  border-radius: 20px;
  background-color: white;
  margin: 15px;
}

.bloc_photo_heb:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.groupe_photo_heb {
  display: flex;
  justify-content: space-between;
}

.photos_heb {
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  height: 138px;
  width: 295px;
  border-radius: 20px 20px 0px 0px;
}

#groupe_photos_lpp {
  display: flex;
  flex-direction: column;
}

.bloc_photo_lpp {
  display: flex;
  border: 4px solid white;
  width: 22em;
  height: 150px;
  border-radius: 20px;
  background-color: white;
  margin: 15px;
}

.bloc_photo_lpp:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.photos_lpp {
  height: 150px;
  width: 150px;
  border-radius: 20px 0px 0px 20px;
}

.text_img_lpp {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.text_size_lpp {
  font-size: 0.9em;
}

#cursor_afficherplus {
  cursor: pointer;
}

.icone_star_blue {
  color: #0065fc;
  margin-left: 5px;
}

.icone_star_grey {
  color: #f2f2f2;
  margin-left: 5px;
}

.bloc_stars {
  display: flex;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  #section1 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 143em;
  }

  #pos_ic_lpp {
    position: relative;
    left: -2em;
  }

  #bloc_gris_lpp {
    width: auto;
    border-radius: 0px 0px 0px 0px;
    margin-left: 0em;
  }

  #bloc_gris_heb {
    border: 1px solid white;
    background-color: white;
  }

  .groupe_photo_heb {
    display: flex;
    flex-direction: column;
  }
}

*/
