#section1 {
  display: flex;
  flex-direction: row-reverse;
}
/*---------------------------------------------------------------------------------------------------*/
/*Les plus populaire*/
/*---------------------------------------------------------------------------------------------------*/

.marge_section1 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

#bloc_gris_lpp {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 0 0 0 0.5em;
}

#groupe_photos_lpp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.bloc_photo_lpp {
  display: flex;
  width: 90%;
  height: 10em;
  border-radius: 20px;
  margin: 1%;
  overflow: hidden;
  border: white solid 4px;
  background-color: white;
}

.bloc_photo_lpp:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.photos_lpp {
  width: 35%;
  object-fit: cover;
}

.bloc_stars_lpp {
  margin-bottom: 0.5em;
}

.text_img_lpp {
  margin-left: 15px;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*---------------------------------------------------------------------------------------------------*/
/*Hébergement*/
/*---------------------------------------------------------------------------------------------------*/

.groupe_photos_heb {
  display: flex;
  align-items: center;
}

#bloc_gris_heb {
  width: 70%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 0 0.5em 0 0;
}

.bloc_photo_heb {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 13em;
  border: solid black 2px;
  border-radius: 20px;
  margin: 1%;
  overflow: hidden;
  border: white solid 4px;
  background-color: white;
  text-decoration: none;
}

.photos_heb {
  height: 60%;
  object-fit: cover;
}

.bloc_photo_heb:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.marge_text_heb {
  padding: 0.2em;
}

.text_img_heb {
  margin-left: 15px;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icone_star_blue {
  color: #0065fc;
}

.icone_star_grey {
  color: #f2f2f2;
}

.marge_section1 {
  margin: 1em;
}

#afficherplus {
  margin: 1em;
}
#afficherplus:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #section1 {
    display: flex;
    flex-direction: column;
  }

  .marge_section1 {
    margin: 0;
    padding-top: 1em;
  }

  #bloc_gris_lpp {
    width: 100%;
    border-radius: 0;
  }

  #groupe_photos_lpp {
    padding-top: 1em;
  }

  .bloc_photo_lpp {
    width: 90%;
  }

  .text_img_lpp {
    font-size: 14px;
    padding-top: 1em;
  }

  #bloc_gris_heb {
    width: 100%;
    background-color: white;
    margin: 0;
  }

  .groupe_photos_heb {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
  }

  .bloc_photo_heb {
    width: 100%;
    box-shadow: 1px 1px 12px rgba(194, 194, 194, 0.397);
  }
}
