@font-face
{
	font-family: 'Raleway';
	src: url('police/Raleway/Raleway-Regular.ttf');

}

#bloc_page
{
	font-family: Raleway;
	font-size: 1em;
	width: 96em;
	margin: auto;
}


img
{
	max-width: 100%
	height: auto;
	object-fit: cover;
}

/*---------------------------------------------------------------------------------------------------*/
/*<Header>*/
/*---------------------------------------------------------------------------------------------------*/
#haut_de_page
{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

#liens_top
{
	word-spacing: 2rem;
}
.liens_top_right
{
	text-decoration: none;
	color: #0065FC;
}

#color_act
{
	color: black;
}

#color_rech
{
	color: white;
}

.border_blue:hover
{
	border-top: 3px #0065FC solid;
	padding-top: 25px;
}

.reservia_logo
{
	width: 97px;
	height: 45px;
}
/*---------------------------------------------------------------------------------------------------*/
/* Formulaire*/
/*---------------------------------------------------------------------------------------------------*/
#formulaire
{
 display: flex;
 align-items: center;
}

#b_icone_form
{
	border: 1px solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	padding: 11.8px;
	background-color: #F2F2F2
}

#bouton_rech
{
	border: 1px solid #0065FC;
	border-radius: 0px 10px 10px 0px;
	padding: 11.8px;
	background-color: #0065FC;
	position: relative;
	left: -5px;
	cursor: pointer;
}

#taille_champ
{
	height: 35px;
}

input
{
	border: solid 2px #F2F2F2;
	opacity: 0.8;
}


/*---------------------------------------------------------------------------------------------------*/
/*Filtres*/
/*---------------------------------------------------------------------------------------------------*/
#filtres
{
	display: flex;
	align-items: baseline;
}

.bord_filtres
{
	border: 3px solid;
	border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
	border-radius: 50px;
	height: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 15px;

}

.bord_filtres:hover
{
	transform: scale(1.1);
	cursor: pointer;
}

.icone_filtre
{
	border: 4px solid #DEEBFF;
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 50%;
	height: 33px;
	width: 33.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: -2px; 
}

.txt_bloc
{
	padding: 15px;
}

#phrase_info
{
	display: flex;
	align-items: baseline;
}

#bord_info
{
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	color: #0065FC;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#marge_phrase
{
	margin: 15px;
}
/*---------------------------------------------------------------------------------------------------*/
/*<section> 1*/
/*---------------------------------------------------------------------------------------------------*/
.bloc_gris_section1
{
	border: 1px solid #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
	margin: 15px;
	padding: 15px 25px;
	height: 40em;
}

#section1
{
	display: flex;
	flex-direction: row-reverse;
}

#align_h2_icone
{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.bloc_photo_heb
{
	display: flex;
	flex-direction: column;
	border: 4px solid white;
	width: 295px;
	height: 205px;
	border-radius: 20px;
	background-color: white;
	margin: 15px;
}

.bloc_photo_heb:hover
{
	transform: scale(1.1);
	cursor: pointer;
}

.groupe_photo_heb
{
	display: flex;
}


.photos_heb
{
	margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    height: 138px;
    width: 295px;
	border-radius: 20px 20px 0px 0px;
}

.text_img_heb
{

}

/*---------------------------------------------------------------------------------------------------*/
/* <aside> */
/*---------------------------------------------------------------------------------------------------*/

#groupe_photos_lpp
{
	display: flex;
	flex-direction: column;
}

.bloc_photo_lpp
{
	display: flex;
	border: 4px solid white;
	width: 22em;
	height: 150px;
	border-radius: 20px;
	background-color: white;
	margin: 15px;
}

.bloc_photo_lpp:hover
{
	transform: scale(1.1);
	cursor: pointer;
}


.photos_lpp
{
	height: 150px;
	width: 150px;
	border-radius: 20px 0px 0px 20px;
}

.text_img_lpp
{
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.text_size_lpp
{
	font-size: 0.9em;
}

#cursor_afficherplus
{
	cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------*/
/* Icones stars*/
/*---------------------------------------------------------------------------------------------------*/

.icone_star_blue
{
	color: #0065FC;
	margin-left: 5px;
}

.icone_star_grey
{
	color: #F2F2F2;
	margin-left: 5px;
}

.bloc_stars
{
	display: flex;
	margin-top: 5px;
}

/*---------------------------------------------------------------------------------------------------*/
/*section2*/
/*---------------------------------------------------------------------------------------------------*/

#bloc_photo1_act
{
	border: 1px solid white;
	background-color: white;
	width: 18em;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px grey;
}

#photo1_act
{
	width: 18em;
	height: 32em;
	border-radius: 20px;
}
/*---------------------------------------------------------------------------------------------------*/
/*<footer>*/
/*---------------------------------------------------------------------------------------------------*/
#pied_de_page
{
	display: flex;
	justify-content: flex-start;
}

#bloc_gris_footer
{
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

ul
{
	list-style-type: none;
}

.liens_bot
{
	color: black;
	text-decoration: none;
}

