@font-face
{
	font-family: 'Raleway';
	src: url('police/Raleway/Raleway-Regular.ttf');

}

#bloc_page
{
	font-family: Raleway;
	font-size: 1em;
	max-width: 96em;
	min-width: 768px;
	margin: auto;
}


img
{
	max-width: 100%
	height: auto;
	object-fit: cover;
}


/*---------------------------------------------------------------------------------------------------*/
/*<Header>*/
/*---------------------------------------------------------------------------------------------------*/
#haut_de_page
{
	padding-top: 20px;
}

#liens_top
{
	word-spacing: 2rem;
}
.liens_top_right
{
	text-decoration: none;
	color: #0065FC;
}

#color_act
{
	color: black;
}

.border_blue:hover
{
	border-top: 3px #0065FC solid;
	padding-top: 25px;
}

.reservia_logo
{
	width: 97px;
	height: 45px;
}

/*---------------------------------------------------------------------------------------------------*/
/* Formulaire*/
/*---------------------------------------------------------------------------------------------------*/
#formulaire
{
 display: flex;
 align-items: center;
}

#b_icone_form
{
	border: 1px solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	padding: 11.8px;
	background-color: #F2F2F2
}

#bouton_rech
{
	border: 1px solid #0065FC;
	border-radius: 0px 10px 10px 0px;
	padding: 11.8px;
	background-color: #0065FC;
	position: relative;
	left: -5px;
	cursor: pointer;
}

#color_rech
{
	color: white;
}

#b_resp
{
	background-color: transparent;
	border: none;
	color: transparent;
}

#taille_champ
{
	height: 35px;
}

input
{
	border: solid 2px #F2F2F2;
	opacity: 0.8;
}

/*---------------------------------------------------------------------------------------------------*/
/*Filtres*/
/*---------------------------------------------------------------------------------------------------*/
#filtres
{
	display: flex;
	align-items: baseline;
}

.bord_filtres
{
	border: 3px solid;
	border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
	border-radius: 50px;
	height: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 15px;

}

.bord_filtres:hover
{
	transform: scale(1.1);
	cursor: pointer;
}

.icone_filtre
{
	border: 4px solid #DEEBFF;
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 50%;
	height: 33px;
	width: 33.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: -2px; 
}

.txt_bloc
{
	padding: 15px;
}

#phrase_info
{
	display: flex;
	align-items: baseline;
}

#bord_info
{
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	color: #0065FC;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#marge_phrase
{
	margin: 15px;
}



@media screen and (max-width: 768px)
{
	h1
	{
		width: 15em;
		overflow: auto;
	}
	#formulaire
	{
		margin: 1em;
	}

	#b_icone_form
{
	border: 1px solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	padding: 1.25em;
	background-color: #F2F2F2
}

	input
	{
		padding: 0.5em;
		width: 15em;
		font-size: 1.2em;
		position: relative;
		bottom: -0.1em;
	}

	#bouton_rech
	{
		background-color: transparent;
		border: none;
		color: transparent;
	}

	#b_resp
	{
		color: white;
		background-color: #0065FC;
		border: 1px solid #0065FC;
		border-radius: 10px 10px 10px 10px;
		height: 4.3em;
		width: 4.3em;
		position: relative;
		left: -8.5em;
	}

	#filtres
	{
		display: flex;
		align-items: baseline;
		flex-direction: column;
	}

	#f_resp1
	{
		display: flex;
		flex-direction: row;	
	}

	#f_resp2
	{
		display: flex;
		flex-direction: column;
	}

	#phrase_info
	{
		width: 23em;
		font-size: 1.2em;
		overflow: auto;
	}
}