/*ne fonctionne pas pour le moment*/
@font-face
{
	font-family: 'Raleway';
	src: url('police/Raleway/Raleway-Regular.ttf');

}

#bloc_page
{
	font-family: Raleway;
	width: 80%;
	margin: auto;
}

img
{
	max-width: 100%
	height: auto;
	object-fit: cover; /*ameliore qualiré image*/
}

.bloc_gris
{
	border: 1px solid #F2F2F2;
	border-radius: 15px 15px 15px 15px;
	background-color: #F2F2F2;
}
/*---------------------------------------------------------------------------------------------------*/
/*<Header>*/
/*---------------------------------------------------------------------------------------------------*/
#haut_de_page
{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

#liens_top
{
	word-spacing: 2rem;
}
.liens_top_right
{
	text-decoration: none; /*enlève trait du lien*/
	color: #0065FC;
}

#color_act
{
	color: black;
}

#color_rech
{
	color: white;
}

.border_blue:hover
{
	border-top: 3px #0065FC solid;
	padding-top: 25px;
}

.reservia_logo
{
	width: 97px;
	height: 45px;
}
/*---------------------------------------------------------------------------------------------------*/
/* Formulaire*/
/*---------------------------------------------------------------------------------------------------*/
#formulaire
{
 display: flex;
 align-items: center;
}

#b_icone_form
{
	border: 1px solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	padding: 11.8px;
	background-color: #F2F2F2
}

#bouton_rech
{
	border: 1px solid #0065FC;
	border-radius: 0px 10px 10px 0px;
	padding: 11.8px;
	background-color: #0065FC;
}

#taille_champ
{
	height: 35px;
}

input
{
	border: solid 2px #F2F2F2;
	opacity: 0.8;
}


/*---------------------------------------------------------------------------------------------------*/
/*Filtres*/
/*---------------------------------------------------------------------------------------------------*/
#filtres
{
	display: flex;
	align-items: baseline;
}

.bord_filtres
{
	border: 3px solid;
	border-color: #F2F2F2 #F2F2F2 #F2F2F2 transparent;
	border-radius: 50px;
	height: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.icone_filtre
{
	border: 4px solid #DEEBFF;
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 50%;
	height: 34px;
	width: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.txt_bloc
{
	padding: 15px;
}

#phrase_info
{
	display: flex;
	align-items: baseline;
}

#bord_info
{
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	color: #0065FC;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*---------------------------------------------------------------------------------------------------*/
/*<section> 1*/
/*---------------------------------------------------------------------------------------------------*/
#section1
{
	display: flex;
	justify-content: space-between;
}

#liste_photos_hebergement
{
 display: flex;
 flex-direction: column;
}

.groupe_photo_heb
{
	display: flex;
}

.photos_heb /*temporaire*/
{
	width: 250px;
	height: 112px;
}

#liste_photos_lpp
{
	display: flex;
	flex-direction: column;
}
.photo_lpp /*temporaire*/
{
	width: 250px;
	height: 112px;
}

/*section2*/

.photo_act /*temporaire*/
{
	width: 250px;
	height: 112px;
}

/*<footer>*/
#pied_de_page
{
	display: flex;
	justify-content: space-between;
}

ul
{
	list-style-type: none;
}

.liens_bot
{
 
}

#assistance
{

}
