@font-face
{
	font-family: 'Raleway';
	src: url('police/Raleway/Raleway-Regular.ttf');

}

#bloc_page
{
	font-family: Raleway;
	font-size: 1em;
	width: 96em;
	margin: auto;
}


img
{
	max-width: 100%
	height: auto;
	object-fit: cover;
}


@media screen and (max-width: 720px)
{
	#bloc_page
	{
		width: auto;
	}
}

