#bloc_photos_123456 {
  display: flex;
}

.bloc_photos_act {
  border: 1px solid white;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 12px rgba(194, 194, 194, 0.397);
}

.bloc_photos_act:hover {
  transform: scale(1.02);
  cursor: pointer;
}

#photo1_act,
#photo4_act {
  width: 100%;
  height: 28em;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#bloc_photo2-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 60%;
}

#bloc_photo5-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  width: 60%;
}

#photo2_act,
#photo6_act {
  width: 100%;
  height: 13.5em;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#photo3_act,
#photo5_act {
  width: 100%;
  height: 10.5em;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.marge_title_act {
  padding-left: 1em;
}

@media screen and (max-width: 768px) {
  body {
    width: auto;
  }

  #bloc_photos_123456 {
    display: flex;
    flex-direction: column;
  }

  .bloc_photos_act {
    margin-bottom: 10px;
  }

  #bloc_photo2-3,
  #bloc_photo5-6 {
    padding: 0px;
    width: 100%;
  }

  #photo1_act,
  #photo2_act,
  #photo3_act,
  #photo4_act,
  #photo5_act,
  #photo6_act {
    width: 100%;
    height: 10.5em;
  }
}
